# Задание

In [69]:
import pandas as pd
import numpy as np
data = pd.read_csv("../datasets/kaggle_survey_2022_responses.csv")
name2question = data.iloc[0]
data.drop(0, inplace=True)

C:\Users\kuzne\AppData\Local\Temp\ipykernel_16748\2978715285.py:3: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../datasets/kaggle_survey_2022_responses.csv")

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [70]:
data['Q2'].value_counts().idxmax()

'18-21'

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [71]:
filt1 = ((data['Q4'] == 'Russia') & (data['Q5'] == 'No')).sum()
filt2 = ((data['Q3'] == 'Woman') & (data['Q4'] == 'Russia') & (data['Q5'] == 'No')).sum()
round(filt2/filt1, 2)

0.24

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [72]:
round(data['Duration (in seconds)'].astype(int).mean()/60, 2)

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [73]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
data[q6_columns].melt()['value'].value_counts().head(3)

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [74]:
q12_columns = [col for col in data.columns if col.startswith('Q12')]
data[q12_columns].melt()['value'].value_counts().head(5)

Python    18653
SQL        9620
R          4571
C++        4549
Java       3862
Name: value, dtype: int64

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [75]:
employees_mapping = {
    '$0-999': 500, 
    '1,000-1,999': 1500, 
    '2,000-2,999': 2500, 
    '3,000-3,999': 3500, 
    '4,000-4,999': 4500,
    '5,000-7,499': 6250,
    '7,500-9,999': 8250,
    '10,000-14,999': 12500,
    '15,000-19,999': 17500,
    '20,000-24,999': 22500,
    '25,000-29,999': 27500,
    '30,000-39,999': 35000,
    '40,000-49,999': 45000,
    '50,000-59,999': 55000,
    '60,000-69,999': 65000,
    '70,000-79,999': 75000,
    '80,000-89,999': 85000,
    '90,000-99,999': 95000,
    '100,000-124,999': 112500,
    '125,000-149,999': 137500,
    '150,000-199,999': 175000,
    '200,000-249,999': 225000,
    '250,000-299,999': 275000, 
    '300,000-499,999': 400000, 
    '$500,000-999,999': 750000, 
    '>$1,000,000': 1000000,
}

DS = round(data [
    data['Q23'] == 'Data Scientist'
]['Q29'].map(employees_mapping).mean(), 2)
ML = round(data [
    data['Q23'] == 'Machine Learning/ MLops Engineer'
]['Q29'].map(employees_mapping).mean(), 2)

print(DS, ML)

70324.36 67417.0

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [68]:
woman = data['Q3'].str.contains('Woman').value_counts()[True]
noname = data['Q3'].str.contains('Woman').value_counts()[False]
print(f'{round((woman * 100 / (woman + noname)), 2)}% опрошенных являются женщины')

22.03% опрошенных являются женщины